.section-search input{
    padding: 5px !important;
    font-size: 18px !important;
    width: 90% !important;
    border:#f4f4f4 3px solid !important;
}


ul.b {
  list-style-type: square;
}

.photo_link{
  width:500px;
  height:333px;
}