  
  
{% extends 'base.html' %} {% block content %}
<!--navbar-->
 <div class="navbar-fixed">
  <nav class="teal">
    <div class="container">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">MY COOK </a>
        <a href="#" data-target="mobile-nav" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
         
          <li>
            <a href={{ url_for('get_tasks') }}>HOME</a>
           </li>
          <li>
            <a href={{ url_for('add_task') }}> CREAT RECIPES</a>
           </li>
             <li>
              <a href={{ url_for('task_recipe') }}>RECIPES</a>
          </li>
          
        </ul>   
    
      </div>
    </div>
  </nav>
 </div> 
 
 <ul class="sidenav" id="mobile-nav">
          <li>
           <a href={{ url_for('get_tasks') }}>HOME</a>
           </li>
          <li>
            <a href={{ url_for('add_task') }}> ADD RECIPES</a>
           </li>
             <li>
           <a href={{ url_for('task_recipe') }}> MY RECIPES</a>
          </li>
          
        </ul>
        
<!--content-->
<section id="add-task">
    

<h3>Add Recipe</h3>
<div class="row">
    <form action="{{ url_for('insert_task') }}" method="POST"  class="col s12"  name="serialNumber" enctype="multipart/form-data">
        <div class="row">
            <div class="row">
                <div class="input-field col s12">
                 
                    
                </div>
            </div>
<!--Recipe Name-->
            <div class="input-field col s6">
                <i class="material-icons prefix">assignment</i>
                <input id="recipe_name" name="recipe_name" type="text">
                <label for="icon_prefix">Recipe Name</label>
            </div>
        </div>
<!--Ingredient-->
         <div class="row">
          <div class="input-field col s10">
                <i class="material-icons prefix">subject</i>
                <textarea name="ingredients" id="ingredients" class="materialize-textarea" > </textarea>  
                <label for="icon_telephone">Ingredient</label>
               </div>   

            
        </div>
        <div class="row">
       
<!--How to make Recipe-->
        <div class="row">
            <div class="input-field col s10">
                <i class="material-icons prefix">local_dining</i>
                <textarea name="method" id="method" class="materialize-textarea"> </textarea>
                
                <label for="icon_telephone">How to make Recipe</label>
            </div>
        </div>
<!--photo-->
         <div class="row ">
        
            <div class="input-field col s6" action="photo_link">
                <i class="material-icons prefix">add_a_photo</i>
              <textarea name="photo_link" id="photo_link" class="materialize-textarea" placeholder="Add  image url "> </textarea>
    <div class="file-field input-field">  
    
              
      
    </div>
 
            </div>
        </div>
        <!--datepicker-->
        <div class="row">
            <div class="input-field col s3">
                <i class="material-icons prefix">today</i>
                <input id="due_date" name="due_date" type="text" class="datepicker">
                <label for="icon_prefix">When Am i Going To Cook My Recipe?</label>
            </div>
        </div>
        
        
    <!--cooking_time-->
     <div class="row">
            <div class="input-field col s5">
                <i class="material-icons prefix">alarm</i>
                <textarea name="cooking_time" id="cooking_time" class="materialize-textarea"> </textarea>
                
                <label for="icon_telephone">How long would it take you to make this recipe?</label>
            </div>
        </div>
     
        <!-- Switch -->

  <div class="switch col s6" >
      <p>Is It Suitible For Vegetarians?</p>
     
    <label>
      no
       <input type="checkbox" name="vegetarian" class="vegiterian">
      <span class="lever"></span>
   yes
    </label>
  </div>
  </div>
  
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit"  name="serialNumber" href="templates/recipes.html" onclick="M.toast({html: 'New Recipe Added!'})">Add Recipe
                <i class="material-icons right"></i>
             </button>
        </div>
    </form>
</div>
</section>
    

{% endblock %}