{% extends 'base.html'%} {% block content %}
<div class="row">
    <h1>My Recipes</h1>
    
   
     {% for recipe in tasks%} 

<div class="col s12 m4">
  <div class="card col s12">
 <!--image-->  
 
    
     {% if recipe.photo_link %}
    <div class="card-image waves-effect waves-block waves-light ">
     <img class="activator col s12 " src="{{recipe.photo_link}} ">
    </div>
     {% endif %}
   
 
 <!--card content-->
    <div class="card-content">
     {{recipe_name}}    <span class="card-title activator grey-text text-darken-4"><h4>{{recipe.recipe_name}}</h4><i class="material-icons right">more_vert</i></span> 
   

    </div>
   <!--card reveal-->
    <div class="card-reveal"> 
     <!--edit/ delete button-->
    <div class="col 12">
     
<a href="{{url_for('delete_task', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small" onclick="M.toast({html: 'Recipe Deleted'})">Delete</a>
 <a href="{{url_for('edit_task', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>


 
   </div>
     {{recipe_name}}  <span class="card-title grey-text text-darken-4"><h1>{{recipe.recipe_name}}</h1><i class="material-icons right">close</i></span>
    
  
    <!--Ingredient-->  
      <h5>INGREDIENTS</h5>
      <ul class="b">
  <li>{{recipe.ingredients}}</li>
  <li></li>
  <li></li>
</ul>
<!--method-->
 <h5>HOW TO MAKE THE RECIPE.</h5>
 <p>{{recipe.method}}</p>
  <!--due_date-->
  <h5>WHEN WOULD YOU COOK IT?</h5>
   <p>{{recipe.due_date}}</p>
  <!--vegetarian-->
  <h5>IS IT SUITABLE FOR VEGETARIAN'S?</h5>
   <p>{{recipe.vegetarian}}</p> 
  <!--cooking_time-->
  <h5>HOW LONG WOULD IT TAKE YOU TO MAKE THIS RECIPE?</h5>
   <p>{{recipe.cooking_time}}</p>
  
    </div>



  </div>
  </div>
            
  {% endfor%}
         
    </ul>
    {% if prev_url %}
    <a href="{{ prev_url }}">Previous page of recipes</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Next page of recipes</a>
    {% endif %}
</div>
{% endblock %}
