{% extends 'base.html'%} {% block content %}
<div class="row">
    <h1>My Recipes</h1>
    <p>Recipe count: {{ recipe_count }}</p>
    <ul class="collapsible">
     {% for recipe in tasks%} 
        <li>
        <div class="collapsible-header"><i class="material-icons">expand_more</i>{{recipe.task_name}}
        </div>
        <div class="collapsible-body">
     
            <span>  {{entry_description}}</span>
            <br><br>
            {% if recipe.image_url %}
            <img class="materialboxed" src="{{recipe.image_url }}" alt="{{ recipe.image_filename }}">
            {% endif %}
        </div>
        </li>
    {% endfor %}
    </ul>
    {% if prev_url %}
    <a href="{{ prev_url }}">Previous page of recipes</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Next page of recipes</a>
    {% endif %}
</div>
{% endblock %}