<h1>{{recipe.recipe_name}}</h1>
<!--Ingredient-->  
      <h5>INGREDIENTS</h5>
      <ul class="b">
  <li>{{recipe.ingredients}}</li>
  <li></li>
  <li></li>
</ul>
<!--method-->
 <h5>HOW TO MAKE THE RECIPE.</h5>
 <p>{{recipe.method}}</p>
  <!--due_date-->
  <h5>WHEN WOULD YOU COOK IT?</h5>
   <p>{{recipe.due_date}}</p>
  <!--vegetarian-->
  <h5>IS IT SUITABLE FOR VEGETARIAN'S?</h5>
   <p>{{recipe.vegetarian}}</p> 
  <!--cooking_time-->
  <h5>HOW LONG WOULD IT TAKE YOU TO MAKE THIS RECIPE?</h5>
   <p>{{recipe.cooking_time}}</p>
  `